.blog {
    display: flex;
    gap: 1.5rem;
    counter-increment: blogs;

    & > figure {
        max-height: 150px;
    }

    & > div::before {
        content: '0' counter(blogs);
        font-size: var(--step-3);
        font-weight: var(--font-weight-700);
        color: var(--color-neutral-grayish-blue);
    }

    & > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        font-size: var(--step-1);
        transition: color .25s ease-in-out;
    }

    &:hover {
        .blog__title {
            color: var(--color-primary-soft-red);
        }
        cursor: pointer;
    }
}